html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body {
	background: url(../images/body_bg.jpg) 0px 0px repeat-x #000;
}
.main_bg {
	background: url(../images/main_bg.jpg) bottom center no-repeat;
	height:760px;
}
.main {
	width: 1000px;
	height: 760px;
	position: relative;
	margin: 0 auto;
}
.num_mask {
	background: url(../images/num_mask.png) 0px 0px no-repeat;
	height: 184px;
	width: 740px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -370px;
	z-index: 9;
}
.num_box {
	height: 450px;
	width: 750px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -370px;
	z-index: 8;
	overflow: hidden;
	text-align: center;
}
.num {
	background: url(../images/num.png) top center repeat-y;
	width: 181px;
	height: 265px;
	float: left;
	margin-top: 115px;
	margin-left: 45px;
	margin-right: 15px;
}
#btn {
	width: 264px;
	height: 69px;
	cursor: pointer;
}
